<ion-view hide-nav-bar="true">
    <ion-content class="padding text-center">
        <div style="height: 25px"></div>

        <img src="img/logo.svg" style="width: 65px; height: auto">

        <h2>Chào mừng đến với<br>Ionic Messenger</h2>

        <div style="height: 25px"></div>

        <form name="loginForm">
            <ion-list class="border-none">
                <ion-item class="item-input border-bottom">
                    <input type="text" placeholder="Email" ng-model="loginData.email" ng-required="true">
                </ion-item>
                <ion-item class="item-input border-bottom">
                    <input type="password" placeholder="Mật khẩu" ng-model="loginData.password">
                </ion-item>
            </ion-list>
            <div class="padding">
                <button class="button button-medium" ng-disable="loginForm.$invalid"
                        ng-click="login()">
                    Đăng nhập
                </button>
            </div>
        </form>
    </ion-content>

    <ion-footer-bar>
        <a class="button button-clear" href="#/sign-up">Đăng kí</a>
        <a class="button button-clear" href="#/forgot-password">Quên mật khẩu</a>
    </ion-footer-bar>
</ion-view>