<style>
    .plus-circle {
        display: inline-block;

        width: 60px;
        height: 60px;
        border-radius: 30px;
        border: 2px dashed #D9D9D9;
        padding: 7px;
    }

    .plus-circle i {
        font-size: 40px;
    }

    /*.item h3 small {*/
        /*overflow: hidden;*/
        /*text-overflow: ellipsis;*/
        /*white-space: nowrap;*/
    /*}*/
</style>

<ion-view>

    <ion-nav-buttons side="left">
        <button nav-direction="back" class="button button-clear button-icon button-positive icon ion-ios-arrow-back"
                ng-click="historyBack()">
        </button>
    </ion-nav-buttons>

    <ion-nav-title>
        <a>
            Người dùng trong {{group.name}}
        </a>
    </ion-nav-title>

    <ion-content>

        <ion-list ng-if="members.length>0">
            <span ng-repeat="member in members">
                <ion-item 
                          class="item-remove-animate item-avatar" 
                          nav-direction="forward" 
                          href=""
                          type="item-text-wrap">
                    <img ng-src="img/icon/user/{{member.id%10}}.jpg">

                    <h3>
                        <small>{{member.firstName}} {{member.lastName}}</small>
                    </h3>

                    <p><i>Hoạt động gần nhất: {{(lastActive(member.id)) ?lastActive(member.id) :'Không'}}</i></p>

                </ion-item>
            </span>
        </ion-list>
    </ion-content>
</ion-view>
