<ion-view hide-nav-bar="true">
    <ion-content class="padding text-center">
        <div style="height: 25px"></div>
        <h2>Đăng kí sử dụng<br>Ionic Messenger</h2>
        <div style="height: 25px"></div>
        <ion-list class="border-none">
            <ion-item class="item-input border-bottom">
                <input type="text" placeholder="Email">
            </ion-item>
            <ion-item class="item-input border-bottom">
                <input type="password" placeholder="Mật khẩu">
            </ion-item>
            <ion-item class="item-input border-bottom">
                <input type="password" placeholder="Xác nhận mật khẩu">
            </ion-item>
        </ion-list>
        <div class="padding">
            <a class="button button-clear button-large" href="#/sign-up-name">
                Tiếp tục
            </a>
            <div style="height: 10px"></div>
            <p>Để tiếp tục, bạn phải chấp nhận <a href="#" class="positive">Chính sách riêng tư</a> và <a href="#" class="positive">Điều khoản</a>.</p>
        </div>
    </ion-content>
</ion-view>