<ion-view view-title="Cài đặt">
    <!-- <ion-nav-buttons side="right">
        <button style="color:#fff" class="icon button-clear button-icon button-positive ion-edit" 
                ng-click="showEdit()">
        </button>
    </ion-nav-buttons> -->

    <ion-content id="tab-account" style='background-color: #EDEEF1'>
        <ion-list>
            <div style="height: 10px"></div>
            <ion-item class="item-avatar item-avatar-center item-avatar-xl text-center">
                <img ng-src="img/icon/user/{{user.id%10}}.jpg">
                
                <h2>
                    <button class="button button-clear button-positive" ng-click="showEdit()">
                        <small style="color:black">{{user.firstName}} {{user.lastName}}</small>
                    </button>
                </h2>
            </ion-item>
            <div style="height: 30px"></div>
            <ion-item class="item-icon-right" ng-click="showNotification();">
                <h3><small>Thông báo</small></h3>
                <p>{{notiStatus}}</p>
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
            <ion-toggle ng-model="setting_preview">
                <h3><small>Xem trước tin nhắn</small></h3>
                <p ng-if="!setting_preview">Chỉ hiện tên người gửi</p>
                <p ng-if="setting_preview">Hiện tên người gửi và nội dung tin nhắn</p>
            </ion-toggle>
            

            <div style="height: 20px"></div>
            <ion-item class="item-icon-right" href="#">
                <h3><small>Giúp đỡ</small></h3>
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>

            <ion-item class="item-icon-right" href="#">
                <h3><small>Điều khoản</small></h3>
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>

            <ion-item class="item-icon-right" href="#">
                <h3><small>Chính sách riêng tư</small></h3>
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>

            <ion-item class="item-icon-right" ng-click="show();">
                <h3><small>Báo lỗi</small></h3>
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>

            <div style="height: 30px"></div>
            <ion-item class="assertive" ng-click="logout();" style="text-align:center">
                Đăng xuất
            </ion-item>
            <div style="height: 20px"></div>
        </ion-list>
    </ion-content>
</ion-view>
