<ion-modal-view class="modal-page">
    <ion-header-bar class="bar-stable">
        <button class="button button-clear button-icon icon button-positive ion-ios-arrow-down"  
                ng-click="closeAddPeople();">
        </button>
        <h1 class="title">Add More People</h1>
        <button class="button button-clear button-icon icon button-positive ion-ios-checkmark-outline" 
                ng-click="addPeople();">
        </button>
    </ion-header-bar>

    <ion-content>
        <ion-list>
            <ion-item class="item-checkbox item-checkbox-right item-avatar" ng-repeat="user in users">
                <label class="checkbox">
                    <!-- <input type="checkbox"> -->
                    <input type="checkbox" ng-model="user.checked" ng-checked="user.checked">
                </label>
                <img ng-src="img/icon/user/{{user.id%10}}.jpg">
                <h2>
                    <small>{{user.firstName}} {{user.lastName}}</small>
                </h2>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-modal-view>