<style>
    .modal-backdrop-bg {
        -webkit-transition: opacity 300ms ease-in-out;
        transition: opacity 300ms ease-in-out;
        background-color: #000;
        opacity: 0.5;
    }
    .transparent{
        background-color: transparent;
    }
    </style>
<ion-modal-view ng-class="{'transparent':!search}">
    <ion-header-bar class="bar-stable item-input-inset">
        <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="search" placeholder="Find Topic" ng-model="search">
        </label>
        <button class="button button-clear button-icon button-positive icon ion-ios-arrow-down"
                ng-click="closeSearch(); search = null;">
        </button>
    </ion-header-bar>

    <ion-content ng-show="search">
        <ion-list>
            <ion-item class="item-divider">Topic</ion-item>
            <ion-item class="item-avatar" ng-repeat="topic in topics | filter:search"
                      type="item-text-wrap" href="#/topic/{{topic.id}}">
                <img ng-src="img/icon/topic/{{topic.id%10}}.jpg">
                <h3>
                    <small>{{topic.title}}</small>
                </h3>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-modal-view>